<div class="body">
  <div class="login-form">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="email">Username</label>
        <input type="text" id="email" name="email" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <label for="password">Repassword</label>
        <input type="password" id="password" name="password" [(ngModel)]="rePassword" required>
      </div>
      <div class="form-group">
        <label for="password">Email</label>
        <input type="password" id="password" name="password" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Phone number</label>
        <input type="password" id="password" name="password" [(ngModel)]="phone" required>
      </div>
      <button type="button" (click)="handleLogin()">Resgister</button>
    </form>
    <div class="signup-link">
      Had an account? <a href="#">Sign in</a>
    </div>
  </div>


</div>